
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(#FAF1E4);
}

/* Pre-sets*/
article h2{
    text-align: center;
    padding: 30px;
    color: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    background-color: #CEDEBD;
}

article h3{
    padding-bottom: 30px;
}


/*NAV BAR*/
#navbarNav{
    justify-content: end;
}

.nav-item{
    padding-right: 50px;
}

.navbar-brand{
    padding-left: 10px;

}



/* Header Banner */

/*TITULO*/
#banner h1{
    color: white;
    font-size: 80px;
    font-weight: 500px;
    padding-bottom: 100px;

}
/*Style Banner Background*/
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("resources/Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}


/* Inicio de Secciones */
section{
    padding: 30px ;
}

/* Edicion Padding Articulos*/
article{
    padding: 10px;
}


/* ---- PRIMERA SECCION - QUE ES* -----/

/*Titulo de Seccion - Que es*/
.titulo-que-es{
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 35px;
    background-color: #435334;
}

/*Contenedor Principal*/
.cont-que-es{
    display: flex;
    padding: 4vh;
    background-color: #9EB384;
    border-radius: 35px;
    
}

/*Parrafo*/
.texto-que-es{
    width: 50%;
    padding: 30px;
    background-color: #435334b0;
    border-radius: 45px;
    margin: 20px;
    color: #fffdfb;
}

/*Contenedor de Imagen*/
.imagen-que-es{
    padding: 15px;
    width: 50%;
}

/*Dimension Imagen*/
.imagen-que-es img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}



/*Porque Sahara sigue sin ser Descolonizada*/

/*Contenedor Titulo*/
.titulo-porque-sahara{
    margin-right: 25%;
    border-radius: 35px;
    background-color: #435334;
}

.cont-porque-sahara{
    display: flex;
    padding: 4vh;
    background-color: #9EB384;
    border-radius: 35px;
}

/*Titulo texto*/
.titulo-porque-sahara h3{
    text-align: left;
    padding: 30px;
    color: white;
}

/*Contenedor texto*/
.texto-porque-sahara{
    width: auto;
    padding: 30px;
    background-color: #79797927;
    border-radius: 45px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Parrafo*/
.texto-porque-sahara {
    background-color: #435334b0;
    color: white;
}

/*Contenedor Imagen Niña*/
.imagen-porque-sahara{
    margin: 15px;
    width: auto;
}
/*Dimension Imagen Niña*/
.imagen-porque-sahara img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/*  --- MOTIVOS  ---*/

/*Contenedor Titulo Motivos*/
.titulo-motivos{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 35px;
    background-color: #435334;
}
/*Titulo Motivos texto*/
.titulo-motivos h3{
    text-align: center;
    padding: 15px;
    font-size: 39px;
    color: white;
}

/*Contenedor Principal*/
.cont-motivos {
    padding: 4vh;
    background-color: #9EB384;
    border-radius: 35px;
    display:flex;
    flex-direction: row;

}

/* Contenedor titulo Disputa Territorial */
.sub-disputa-territorial{
    margin-top: 15px;
    border-radius: 35px;
    background-color: #435334;
}

/*Titulo disputa territorial*/
.sub-disputa-territorial h3{
    text-align: center;
    padding: 30px;
    color: white;
}

/* Contenido Motivos (Subtitulo y texto) */
.cont-sub-tex-disputa-territorial {
    width: 40%;
}

.cont-sub-tex-disputa-territorial .text{
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: #435334b0;
    border-radius: 45px;
    color: #fffdfb;
}

/*Contenedor texto disputa territorial*/
.texto-disputa-territorial{
    width: auto;
    padding: 30px;
    background-color: #79797927;
    border-radius: 45px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*Parrafo disputa territorial*/
.texto-disputa-territorial {
    background-color: #435334b0;
    color: white;
}

/* Imagen de Los soldados */
.imagen-disputa-territorial {
    padding: 15px;
    width: 60%;   
}

.imagen-disputa-territorial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; 
}

/* Contenedor falta de censo */
.cont-falta-censo{
    display: flex;
    padding: 4vh;
    background-color: #9EB384;
    border-radius: 35px;
    margin-top: 20px;  
    width: 100%; 
}

/* Subtitulo contenedor falta de censo*/
.sub-falta-censo {
    margin-top: 15px;
    border-radius: 35px;
    background-color: #435334;
}
/* Subtitulo texto falta de censo   */
.sub-falta-censo h3 {
    text-align: center;
    padding: 30px;
    color: white;
}

/* Contenedor Falta de censo (Subtitulo y texto)*/
.cont-sub-text-falta-censo {
    width: 40%;
}
.texto-falta-censo{
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: #435334b0;
    border-radius: 45px;
    color: #fffdfb;
}

/* contenedor Imagen falta de censo */
.imagen-falta-censo{
    padding: 15px;
    width: 60%;   
}

/* imagen falta detexto-izq .imagen  censo img */
.imagen-falta-censo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px; 
}
/*<----------------------------------------------->*/


