@media (max-width: 900px){
    #banner h1{
        color: white;
        font-size: 40px;
        font-weight: 400px;
        padding-bottom: 120px;
    }
    /*Seccion Que es*/
    .titulo-que-es{
        margin: auto;
        text-align: center;
    }
    .cont-que-es{
        display: flex;
        flex-direction: column;
    }
    .texto-que-es{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }
    .imagen-que-es{
        width: 100%;
        padding: 3%;
    }
    /*Seccion ¿Por qué Sáhara Occidental sigue sin ser descolonizada?*/
    .titulo-porque-sahara{
        margin: auto;
    }
    .titulo-porque-sahara h3{
        text-align: center;
    }
    .cont-porque-sahara{
        display: flex;
        flex-direction: column;
    }
    .texto-porque-sahara{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }

    /*Motivos*/
    .titulo-motivos{
        margin: auto;
        text-align: center;
    }
    .cont-motivos{
        display: flex;
        flex-direction: column;
    }
    .sub-disputa-territorial{
        margin: auto;
        text-align: center;
    }
    .cont-sub-tex-disputa-territorial{
        width: 100%;
    }
    .texto-disputa-territorial{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }
    .imagen-disputa-territorial{
        width: 100%;
        padding: 3%;
    }

    /* Contenedor falta de censo */
    .cont-falta-censo{
        display: flex;
        flex-direction: column;
    }
    .sub-falta-censo{
        margin: auto;
        text-align: center;
    }
    .cont-sub-text-falta-censo{
        width: 100%;
    }
    .texto-falta-censo{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }
    .imagen-falta-censo{
        width: 100%;
        padding: 3%;  
    }
    .titulo-porque-sahara{
        margin: auto;
    }
    .titulo-porque-sahara h3{
        text-align: center;
    }
    .cont-porque-sahara{
        display: flex;
        flex-direction: column;
    }
    .texto-porque-sahara{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }

    /*sahara-occidental*/
    .titulo-sahara-occidental{
        margin: auto;
        text-align: center;
    }
    .cont-sahara-guerra{
        display: flex;
        flex-direction: column;
    }
    .sub-sahara-guerra{
        margin: auto;
        text-align: center;
    }
    .cont-sub-text-sahara-guerra{
        width: 100%;
    }
    .texto-sahara-guerra{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }
    .imagen-sahara-guerra{
        width: 100%;
        padding: 3%;
    }

    /*sahara-occidental*/
    .cont-frente-polisario{
        display: flex;
        flex-direction: column;
    }
    .sub-frente-polisario{
        margin: auto;
        text-align: center;
    }
    .cont-sub-text-frente-polisario{
        width: 100%;
    }
    .texto-frente-polisario{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }
    .imagen-frente-polisario{
        width: 100%;
        padding: 3%;
    }

    .cont-marruecos-mauritania{
        display: flex;
        flex-direction: column;
    }
    .sub-marruecos-mauritania{
        margin: auto;
        text-align: center;
    }
    .cont-sub-text-marruecos-mauritania{
        width: 100%;
    }
    .texto-marruecos-mauritania{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 7%;
    }
    .imagen-marruecos-mauritania{
        width: 100%;
        padding: 3%;  
    }
    .titulo-que-se-ha-intentado{
        margin: auto;
        text-align: center;
    }


}