
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(#FAF1E4);
}

/* Pre-sets*/
article h2{
    text-align: center;
    padding: 30px;
    color: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    background-color: #CEDEBD;
}

article h3{
    padding-bottom: 30px;
}


/*NAV BAR*/
#navbarNav{
    justify-content: end;
}

.nav-item{
    padding-right: 50px;
}

.navbar-brand{
    padding-left: 10px;

}



/* Header Banner */

/*TITULO*/
#banner h1{
    color: white;
    font-size: 80px;
    font-weight: 500px;
    padding-bottom: 100px;

}
/*Style Banner Background*/
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("resources/Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}


/* Inicio de Secciones */
section{
    padding: 30px ;
}

/* Edicion Padding Articulos*/
article{
    padding: 10px;
}


/* ---- PRIMERA SECCION - QUE ES* -----/

/*Titulo de Seccion - Que es*/
.titulo{
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 35px;
    background-color: #435334;
}

/*Contenedor Principal*/
.texto-izq{
    display: flex;
    padding: 4vh;
    background-color: #9EB384;
    border-radius: 35px;
    
}

/*Parrafo*/
.text{
    width: 50%;
    padding: 30px;
    background-color: #435334b0;
    border-radius: 45px;
    margin: 20px;
    color: #fffdfb;
}

/*Contenedor de Imagen*/
.imagen{
    padding: 15px;
    width: 50%;
}

/*Dimension Imagen*/
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}



/*Porque Sahara sigue sin ser Descolonizada*/

/*Contenedor Titulo*/
.titulo-h3-izquierda{
    margin-right: 25%;
    border-radius: 35px;
    background-color: #435334;
}

/*Titulo texto*/
.titulo-h3-izquierda h3{
    text-align: left;
    padding: 30px;
    color: white;
}

/*Contenedor texto*/
.text-mitad{
    width: auto;
    padding: 30px;
    background-color: #79797927;
    border-radius: 45px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Parrafo*/
.text-mitad {
    background-color: #435334b0;
    color: white;
}


/*Contenedor Imagen Niña*/
.imagen-niña{
    margin: 15px;
    width: auto;
}
/*Dimension Imagen Niña*/
.imagen-niña img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/*  --- MOTIVOS  ---*/

/*Contenedor Titulo Motivos*/
.titulo-h3-mitad{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 35px;
    background-color: #435334;
}
/*Titulo Motivos texto*/
.titulo-h3-mitad h3{
    text-align: center;
    padding: 15px;
    font-size: 39px;
    color: white;
}

/*Contenedor Principal*/

.texto-der {
    border-radius: 35px;
}

/* Contenedor titulo Disputa Territorial */
.sub-titulo-h3-Motivos{
    margin-top: 15px;
    margin-right: 50%;
    border-radius: 35px;
    background-color: #435334;
}

/*Titulo texto*/
.sub-titulo-h3-Motivos h3{
    text-align: left;
    padding: 30px;
    color: white;
}




/*<----------------------------------------------->*/